<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/homePage.css">
    <title>HyperCode</title>
</head>
<body>
    <div class="container-fluid">
        <h1 class="alert alert-success">Welcome to HyperCode !!</h1>
    </div>
    
    <div class="container-fluid">
        <a href="/" class="btn btn-primary">Home</a>    
        <a href="#" class="btn btn-primary">About Us</a>
        <a href="#" class="btn btn-primary">Contact Us</a>
        <a href="#" class="btn btn-primary">Services</a>
        <a href="#" class="btn btn-primary">Our Work</a>
        <a href="#" class="btn btn-primary">Student</a>
    </div>
</body>
</html>